/** CSS STYLE **/

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* class styles (all project) */

.bg-before::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.orange-title {
  color: #fe8a02;
}

.white-title {
  color: #fff;
}

.paragraph-with-background {
  margin: 5px 0 5px 10px;
}

.link {
  text-decoration: none;
}

.project-name {
  color: #908d8b;
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.image-right {
  position: absolute;

  left: 532px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.columns {
  columns: 2;
}

.shadow-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.brown-title-background {
  margin: 100px 0 20px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;

  background: #b09a81;
}

/* sections */

/* header */

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.header-paragraphs {
  width: 1110px;
  margin: 0 auto;

  padding-top: 190px;
  padding-bottom: 85px;

  column-count: 2;
  column-gap: 30px;
}

button {
  position: absolute;
  top: 765px;
  left: 570px;

  width: 148px;
  height: 49px;

  padding: 12px 24px;

  background: #fe8a02;

  border: none;
}

button:hover {
  background: #ea7600;
}

button a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

header {
  background-color: #f5f4f0;
}

/* video section */

.video-section {
  height: 765px;

  text-align: center;
}

.video-section h2 {
  margin-bottom: 30px;
}

.video {
  margin: 30px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* main menu section */

.main-menu {
  height: 990px;
  margin-top: 30px;

  background-color: #42413c;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;

  padding-top: 200px;
  padding-right: 300px;
  padding-left: 300px;
}

.menu-title {
  width: 350px;
  height: 323px;
}

.menu-title h2 {
  font-size: 52px;
}

.menu-navigation-element {
  width: 350px;
  height: 323px;

  background: #f5f4f0;
}

.menu-navigation-element h1 {
  padding: 24px 0 0 24px;

  color: #2a2626;
  font-size: 64px;
  line-height: 1;
}

.menu-navigation-element h2 {
  padding: 24px 24px 0;

  color: #fe8a02;

  font-size: 34px;
}

.menu-navigation-element p {
  padding: 0 24px 24px;

  color: #2a2626;
}

.menu-navigation-element:hover {
  background-color: #fe8a02;
}

.menu-navigation-element:hover h1 {
  color: #fff;
}

.menu-navigation-element:hover h2 {
  color: #fff;
}

.menu-navigation-element:hover p {
  color: #fff;
}

/* ikea section */

#ikea-effect {
  height: 880px;
  padding: 0 0 100px;

  background-color: #f5f4f0;
}

.ikea-text-top {
  position: absolute;
  top: 100px;
  left: 600px;

  width: 500px;
}

.ikea-left-column {
  top: 680px;

  height: 125px;
}

.ikea-rigth-column {
  top: 680px;

  height: 125px;
}

/* premature optimization section */

#premature-optimization {
  height: 950px;

  background-color: #b09a81;
}

#premature-optimization h4 {
  color: #d7ccc0;
}

.premature-text-top {
  position: absolute;
  top: 100px;

  width: 502px;
  height: 296px;
}

.about-premature-optimization {
  margin: 30px 30px 0 0;

  color: #fff;
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.how-appears-white-background {
  margin: 538px 0 20px;

  color: #b09a81;
  font-weight: 700;
  font-size: 14px;
  font-family: OpenSans, sans-serif;

  text-transform: uppercase;

  background: #fff;
}

/* distortion-of-novelty */

#distortion-of-novelty {
  height: 940px;

  background-color: #f5f4f0;
}

.novelty-text-top {
  position: absolute;
  top: 100px;
  left: 600px;

  width: 500px;
}
