/** CSS STYLE **/

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* class styles (all project) */

.bg-before::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.orange-title {
  color: #fe8a02;
}

.white-title {
  color: #fff;
}

/* sections */

/* header */

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.header-paragraphs {
  width: 1110px;
  margin: 0 auto;

  padding-top: 190px;
  padding-bottom: 85px;

  column-count: 2;
  column-gap: 30px;
}

button {
  position: absolute;
  top: 765px;
  left: 570px;

  width: 148px;
  height: 49px;

  padding: 12px 24px;

  background: #fe8a02;

  border: none;
}

button:hover {
  background: #ea7600;
}

button a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

header {
  background-color: #f5f4f0;
}

/* video section */

.video-section {
  height: 765px;

  text-align: center;
}

.video-section h2 {
  margin-bottom: 30px;
}

.video {
  margin: 30px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* main menu section */

.main-menu {
  height: 990px;
  margin-top: 30px;

  background-color: #42413c;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;

  padding-top: 200px;
  padding-right: 300px;
  padding-left: 300px;

  /* display: grid;
  height: 200px;
  grid-template-areas:
  "menu-container ikea-href optimization-href"
  "novelty-href depreciation-href error-href";
  grid-template: repeat(3, 1fr) / repeat(3, 1fr); */

  /* gap: 20px 5px;

  justify-items: center; */
}

.menu-title {
  width: 350px;
  height: 323px;
}

.menu-title h2 {
  font-size: 52px;
}

.menu-navigation-element {
  width: 350px;
  height: 323px;

  background: #f5f4f0;
}

/* .ikea-href {
  margin: 100px 30px 20px 0px;
}

.optimization-href {
  margin: 100px 0 20px 0px;
}

.novelty-href {
  margin-right: 30px;
}

.depreciation-href {
  margin-right: 30px;
}

.error-href {
  margin-right: 30px;
} */

.menu-navigation-element:hover {
  background-color: #fe8a02;
}

.menu-navigation-element h1 {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}
